/*
body{
	background-color: lightblue;

}

h1{
	font-family:  fantasy; 
	color:white;
	text-align: center
}

p, caption {
	font-family:  fantasy; 
	font-size: 30px;
}

div{
	color:white;
}

li, a, tr{
	font-size: 25px;
		font-family:  fantasy; 
	}


*/